<p id="notice"><%= notice %></p>

<h1>Prestamos</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad a prestar</th>
      <th>Deuda</th>
      <th>Cantidad de prestamos</th>
      <th>Cuotas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.Cantidad_a_prestar %></td>
        <td><%= prestamo.Deuda %></td>
        <td><%= prestamo.Cantidad_de_prestamos %></td>
        <td><%= prestamo.Cuotas %></td>
        <td><%= link_to 'Show', prestamo %></td>
        <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
        <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestamo', new_prestamo_path %>
